/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* CUSTOM STYLES */

/* General */
:root {
  --nav-header-padding: .5em;
  --navbar-bg-color: #fff;
  --navbar-fg-color: #111;
  --section-color: #333;
  --navbar-letter-spacing: .1em;
  --navbar-text-shadow: 0 0 1px var(--navbar-bg-color),
                        0px 0px 1px var(--navbar-bg-color);
  --nav-item-vertical-padding: calc(1.25em + var(--nav-header-padding));
  --color-black: #000;
}
::selection {
  color: var(--navbar-bg-color);
  background-color: #444;
}

body, html {
  height: 100%;
  font-family: "Lato", sans-serif;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.4em;
}
p {
  line-height: 1.8;
  margin-bottom: 1.5em;
}
h1, h2, p {
  color: #252525;
}
a {
  color: var(--navbar-fg-color);
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
#content {
  height: 100%;
}

/* Navigation Bar */
.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-fg-color);
  display: flex;
  flex-flow: column;
  position: fixed;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(0,0,0, .3);
}
.nav-header {
  padding: .25em 0;
  letter-spacing: var(--navbar-letter-spacing);
  text-shadow: var(--navbar-text-shadow);
}
.nav-list {
  display: none;
  flex-flow: column;
  text-transform: uppercase;
}
.nav-item {
  display: block;
  padding: .25em 0;
}
.nav-item.active {
  color: var(--navbar-bg-color);
  background-color: var(--navbar-fg-color);
  text-shadow: var(--navbar-text-shadow);
}

/* Hero */
.hero {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em;
}
.hero.large {
  background-image: url('../images/main.jpg');
  min-height: 70%;
  opacity: .85;
  z-index: -1;
}
.hero-text {
  font-size: 1.4em;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.hero-text span {
  background-color: var(--color-black);
  color: #fff;
  padding: .5em .25em;
  letter-spacing: var(--navbar-letter-spacing);
}

/* Content */
section {
  padding: 1.4em 1em;
  background-color: var(--navbar-bg-color);
  min-height: 500px;
}
section * {
  color: var(--section-color);
}
section h2 {
  margin-bottom: 1.5em;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid var(--section-color);
  padding-bottom: .1em;
  font-weight: bold;
  letter-spacing: calc(var(--navbar-letter-spacing) + .1em);
}
section p {
  font-size: .95em;
  letter-spacing: .01em;
  word-spacing: .1em;
}
section p:first-of-type:first-letter {
  font-family: cursive;
  font-size: 2.2em;
  line-height: 1.5;
  font-weight: bold;
  margin-right: .1em;
  border: 1px solid var(--section-color);
  padding: 0 .25em;
}

section p:first-of-type:first-line {
  font-weight: bold;
}

@media (min-width: 768px) {
  /* Hero */
  .hero {
    background-attachment: fixed;
  }
  .hero-text {
    font-size: 2em;
  }

  /* Navigation */
  .navbar {
    display: flex;
    flex-flow: row;
    width: 100%;
    opacity: .9;
    justify-content: space-between;
    border-bottom: none;
  }
  .nav-list {
    display: flex;
    flex-flow: row;
  }
  .nav-header {
    padding-top: var(--nav-header-padding);
    padding-bottom: var(--nav-header-padding);
    padding-left: var(--nav-header-padding);
  }
  .nav-item {
    display: inline-block;
    padding: var(--nav-item-vertical-padding) 0;
    min-width: 10em;
    text-align: center;
    letter-spacing: var(--navbar-letter-spacing);
    font-size: .8em;
    text-decoration: none;
    color: var(--navbar-fg-color);
  }
  .nav-item:hover {
    color: var(--navbar-bg-color);
    background-color: var(--navbar-fg-color);
    text-shadow: var(--navbar-text-shadow);
  }

  /* Content */
  section {
    padding-left: 6em;
    padding-right: 6em;
  }
  section h2 {
    font-size: 1.65em;
  }
  section p {
    font-size: 1em;
  }
}

@media (min-width: 992px) {
  /* Hero */
  .hero-text {
    font-size: 2.5em;
  }

  /* Content */
  section {
    padding-left: 12em;
    padding-right: 12em;
  }
}
